table,
th,
td {
  border: 2.5px solid deepskyblue;
  border-collapse: collapse;
  border-style: groove;
}

.table-header {
  text-align: start;
  width: 300px;
}

tr {
  transition: background-color 200ms ease-in-out;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

tr:hover:not(:first-child) {
  background-color: thistle;
}
